.control-bar{
  background-color: rgba($dodgerBlue, .06);
  border-radius: 6px;
  padding: 1rem;
  display: grid;
  grid-gap: .5rem;
  border: 1px solid rgba($dodgerBlue, .1);

  &__btn{

    &--mr-auto{
      @include media(">=sm"){
        margin-right: auto;
      }
    }
  }

  @include media(">=sm"){
    display: flex;
    flex-wrap: wrap;

    &--text-right{
      justify-content: flex-end;
    }
  }
}