<table class="dashboard-table">

    <tr class="dashboard-table__row">
        <th class="dashboard-table__head-cell text-left">#</th>
        <th class="dashboard-table__head-cell text-left">Товар</th>
        <th class="dashboard-table__head-cell text-center">Продано</th>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">1</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/01.jpg" class="dashboard-table__product-img" alt="Гриль TEFAL OptiGrill + Initial GC706">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Гриль TEFAL OptiGrill + Initial GC706</span>
                    <span class="dashboard-table__product-price">4 399 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">38</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">2</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/02.jpg" class="dashboard-table__product-img" alt="Машинка для стрижки волос PHILIPS QC5115/15">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Машинка для стрижки волос PHILIPS QC5115/15</span>
                    <span class="dashboard-table__product-price">699 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">22</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">3</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/03.jpg" class="dashboard-table__product-img" alt="Робот-пылесос Xiaomi RoboRock S5 Max White (S5E02-00)">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Робот-пылесос Xiaomi RoboRock S5 Max White (S5E02-00)</span>
                    <span class="dashboard-table__product-price">12 499 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">10</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">4</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/04.jpg" class="dashboard-table__product-img" alt="Сушилка для овощей и фруктов WetAir WFD-K650S">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Сушилка для овощей и фруктов WetAir WFD-K650S</span>
                    <span class="dashboard-table__product-price">4 499 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">6</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">5</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/05.jpg" class="dashboard-table__product-img" alt="Пылесос без мешка SAMSUNG VC07T355MVC/UK">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Пылесос без мешка SAMSUNG VC07T355MVC/UK</span>
                    <span class="dashboard-table__product-price">2 299 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">6</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">6</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/06.jpg" class="dashboard-table__product-img" alt="Утюг RZTK V3 Blade">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Утюг RZTK V3 Blade</span>
                    <span class="dashboard-table__product-price">499 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">6</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">7</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/07.jpg" class="dashboard-table__product-img" alt="Мультиварка TEFAL Multicook & Grain RK900">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Мультиварка TEFAL Multicook & Grain RK900</span>
                    <span class="dashboard-table__product-price">3 799 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">4</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">8</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/08.jpg" class="dashboard-table__product-img" alt="Хлебопечка PANASONIC SD-ZB2502BTS">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Хлебопечка PANASONIC SD-ZB2502BTS</span>
                    <span class="dashboard-table__product-price">8 399 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">4</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">9</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/09.jpg" class="dashboard-table__product-img" alt="Чаша для мультиварок RZTK BW 025 (MC 105S)">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Чаша для мультиварок RZTK BW 025 (MC 105S)</span>
                    <span class="dashboard-table__product-price">499 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">4</td>
    </tr><!--dashboard table row-->

    <tr class="dashboard-table__row">
        <td class="dashboard-table__cell">10</td>
        <td class="dashboard-table__cell">
            <a class="dashboard-table__product" href="#">
                <img src="assets/img/products/10.jpg" class="dashboard-table__product-img" alt="Тонометр MICROLIFE BP B1 Classic">
                <span class="dashboard-table__product-info">
                    <span class="dashboard-table__product-name">Тонометр MICROLIFE BP B1 Classic</span>
                    <span class="dashboard-table__product-price">885 грн</span>
                </span>
            </a>
        </td>
        <td class="dashboard-table__cell text-center">2</td>
    </tr><!--dashboard table row-->

</table><!--dashboard table-->