<div class="dashboard-account">

    <div class="dashboard-account__top">
        <div class="dashboard-account__status">
            <i class="dashboard-account__status-icon icon--check-circled"></i>
            <span class="dashboard-account__status-text">Активный</span>
        </div>

        <a class="info-msg-toggle" href="#">
            <i class="icon--info-circled info-msg-toggle__icon"></i>
            <span class="info-msg-toggle__text">info</span>
        </a>

        <div class="dashboard-account__terms">
            Доступ оплачен до: 01.08.2021
        </div>
    </div><!--dashboard account top-->

    <dl class="dashboard-account__info">
        <dt class="dashboard-account__info-attr">Всего заказов:</dt>
        <dd class="dashboard-account__info-param">3350</dd>
        <dt class="dashboard-account__info-attr">Всего заказов:</dt>
        <dd class="dashboard-account__info-param">575</dd>
    </dl>

</div><!--dashboard account-->