<div class="dashboard-delivery">

    <div class="dashboard-delivery__logo">
        <img class="dashboard-delivery__logo-item" src="assets/img/ukrposhta.svg" alt="Ukrposhta">
    </div><!--dashboard delivery logo-->

    <div class="dashboard-delivery__info">
        <div class="dashboard-delivery__text">
            <p>
                Вам будет подключена бесплатная доставка Укрпочты. Для подключения ознакомьтесь и подтвердите принятие
                правил создания ЭН в акционных заказах
            </p>
        </div>

        <div class="dashboard-delivery__footer">
            <a class="dashboard-delivery__footer-rules" href="#">Ознакомиться с правилами</a>
            <a class="info-msg-toggle info-tile__header-msg-toggle" href="#">
                <i class="icon--info-circled info-msg-toggle__icon"></i>
                <span class="info-msg-toggle__text">info</span>
            </a>
        </div>
    </div><!--dashboard delivery info-->

</div>