<div class="dashboard-balance">

    <div class="dashboard-balance__summary">Итого: 2 140.25</div>

    <div class="dashboard-balance__grey-zone">
        <span class="dashboard-balance__grey-zone-item">Серая зона:</span>
        <span class="dashboard-balance__grey-zone-item">-861,60 грн</span>
    </div>

    <dl class="dashboard-balance__info">
        <dt class="dashboard-balance__info-attr">На счету ТМ:</dt>
        <dd class="dashboard-balance__info-param">1 801,11 грн</dd>
        <dt class="dashboard-balance__info-attr">На счету платформы:</dt>
        <dd class="dashboard-balance__info-param">1 200,74 грн</dd>
    </dl>

    <div class="dashboard-balance__top-up">
        <input class="dashboard-balance__top-up-input" type="number" placeholder="Сумма">
        <button class="dashboard-balance__top-up-btn btn btn--style--disabled" disabled>Пополнить</button>
    </div>

</div>