<div class="filter-panel">

    <div class="filter-panel__body">

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Дата создания</span>
            <input class="input-text input-text--calendar form-row__control datepicker-here" type="text" placeholder="Начальная">
            <input class="input-text input-text--calendar form-row__control datepicker-here" type="text" placeholder="Конечная">
        </div>

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Дата выдачи</span>
            <input class="input-text input-text--calendar form-row__control datepicker-here" type="text" placeholder="Начальная">
            <input class="input-text input-text--calendar form-row__control datepicker-here" type="text" placeholder="Конечная">
        </div>

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Разрешение к выдаче</span>
            <select class="input-select select2-search form-row__control">
                <option value="0" selected>Все</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Выдача</span>
            <select class="input-select select2 form-row__control">
                <option value="0" selected>Все</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Оплата</span>
            <select class="input-select select2 form-row__control">
                <option value="0" selected>Все</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Резерв</span>
            <select class="input-select select2 form-row__control">
                <option value="0" selected>Все</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-row form-row--double filter-panel__form-row">
            <span class="form-row__title">Закрыт</span>
            <select class="input-select select2 form-row__control">
                <option value="0" selected>Все</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-row filter-panel__form-row">
            <span class="form-row__title">P/N или название товара</span>
            <input class="input-text form-row__control" type="text">
        </div>

        <div class="form-row filter-panel__form-row">
            <span class="form-row__title">Номер заказа</span>
            <input class="input-text form-row__control" type="text">
        </div>

    </div><!--filter panel body-->

    <div class="filter-panel__footer">
        <button class="btn btn--style--blue filter-panel__footer-btn">Применить</button>
        <button class="btn btn--style--outline-blue filter-panel__footer-btn close-filter-panel">Закрыть</button>
    </div><!--filter panel footer-->

</div><!--filter panel-->