<header class="header page__header">
    <div class="container header__container">

        <button class="header__menu-btn">
            <i class="icon--menu"></i>
        </button>

        <div class="header__balance">
            <i class="header__balance-icon icon--wallet"></i>
            <span class="header__balance-value">2 140,25 грн</span>
        </div>

        <nav class="header__nav">

            <ul class="header__nav-list">

                <li class="header__nav-item">

                    <div class="header__nav-title accordion__toggle">
                        <i class="header__nav-title-icon icon--help-circled"></i>
                        <span class="header__nav-title-text">Помощь</span>
                        <i class="header__nav-title-icon icon--arrow-angle-down"></i>
                    </div>

                    <ul class="header__nav-sub-list">
                        <li class="header__nav-sub-item">
                            <a class="header__nav-sub-title" href="#">Подкатегория 1</a>
                        </li>
                        <li class="header__nav-sub-item">
                            <a class="header__nav-sub-title" href="#">Подкатегория 2</a>
                        </li>
                        <li class="header__nav-sub-item">
                            <a class="header__nav-sub-title" href="#">Подкатегория 3</a>
                        </li>
                    </ul><!--Header nav sub list-->

                </li><!--Header nav item-->

                <li class="header__nav-item">

                    <div class="header__nav-title accordion__toggle">
                        <i class="header__nav-title-icon icon--user"></i>
                        <span class="header__nav-title-text">Константин Кириченко</span>
                        <i class="header__nav-title-icon icon--arrow-angle-down"></i>
                    </div>

                    <ul class="header__nav-sub-list">
                        <li class="header__nav-sub-item">
                            <a class="header__nav-sub-title" href="#">Подкатегория 1</a>
                        </li>
                        <li class="header__nav-sub-item">
                            <a class="header__nav-sub-title" href="#">Подкатегория 2</a>
                        </li>
                        <li class="header__nav-sub-item">
                            <a class="header__nav-sub-title" href="#">Подкатегория 3</a>
                        </li>
                    </ul><!--Header nav sub list-->

                </li><!--Header nav item-->

            </ul><!--Header nav list-->

        </nav><!--Header nav-->

    </div>
</header><!--Header-->
