<div class="info-graph">

    <div class="info-graph__top">
        <div class="info-graph__top-item">
            <div class="info-graph__legend">
                <i class="info-graph__legend-color bg--orange"></i>
                <span class="info-graph__legend-name">Новые</span>
            </div>
            <div class="info-graph__value">
                <div class="info-graph__value-abs">0</div>
                <div class="info-graph__value-rel">0%</div>
            </div>
        </div>
        <div class="info-graph__top-item">
            <div class="info-graph__legend">
                <i class="info-graph__legend-color bg--cyan"></i>
                <span class="info-graph__legend-name">В обработке</span>
            </div>
            <div class="info-graph__value">
                <div class="info-graph__value-abs">0</div>
                <div class="info-graph__value-rel">0%</div>
            </div>
        </div>
        <div class="info-graph__top-item">
            <div class="info-graph__legend">
                <i class="info-graph__legend-color bg--violet"></i>
                <span class="info-graph__legend-name">Доставляются</span>
            </div>
            <div class="info-graph__value">
                <div class="info-graph__value-abs">4</div>
                <div class="info-graph__value-rel">0.7%</div>
            </div>
        </div>
        <div class="info-graph__top-item">
            <div class="info-graph__legend">
                <i class="info-graph__legend-color bg--green"></i>
                <span class="info-graph__legend-name">Успешные</span>
            </div>
            <div class="info-graph__value">
                <div class="info-graph__value-abs">462</div>
                <div class="info-graph__value-rel">81.3%</div>
            </div>
        </div>
        <div class="info-graph__top-item">
            <div class="info-graph__legend">
                <i class="info-graph__legend-color bg--blue"></i>
                <span class="info-graph__legend-name">Неуспешные</span>
            </div>
            <div class="info-graph__value">
                <div class="info-graph__value-abs">102</div>
                <div class="info-graph__value-rel">18%</div>
            </div>
        </div>
    </div><!--info graph top-->

    <div class="info-graph__bottom">
        <div class="info-graph__bottom-item bg--orange" style="width: 0%"></div>
        <div class="info-graph__bottom-item bg--cyan" style="width: 0%"></div>
        <div class="info-graph__bottom-item bg--violet" style="width: 0.7%"></div>
        <div class="info-graph__bottom-item bg--green" style="width: 81.3%"></div>
        <div class="info-graph__bottom-item bg--blue" style="width: 18%"></div>
    </div><!--info graph bottom-->

</div><!--info graph-->