<div class="message-box">

    <div class="message-box__item">
        <div class="message-box__title">О товарах</div>
        <div class="message-box__value message-box__value--active">43</div>
        <div class="message-box__footer">
            <a href="#" class="btn btn--size--sm btn--style--light-blue message-box__footer-btn">2 новых</a>
        </div>
    </div>

    <div class="message-box__item">
        <div class="message-box__title">О магазине</div>
        <div class="message-box__value message-box__value--active">18</div>
        <div class="message-box__footer">
            <a href="#" class="btn btn--size--sm btn--style--outline-grey message-box__footer-btn">Нет новых</a>
        </div>
    </div>

</div><!--message box-->