<div class="modal close-modal" id="modal-add-photo">

    <div class="modal__body modal__body--size--sm">

        <div class="modal__header">
            <h3 class="modal__header-title">Добавить фото</h3>
            <button class="modal__header-close">
                <i class="icon icon--cancel-1 close-modal"></i>
                <span>Закрыть</span>
            </button>
        </div><!-- modal header -->

        <div class="modal__content">
            <div class="add-file">
                <div class="add-file__main">
                    <div class="add-file__desc text-center">
                        Выберите изображения (jpg, png, размером до 5 мб):
                    </div>
                    <input type="file" class="add-file__input" multiple accept="image/jpeg,image/png">
                    <button class="btn btn--style--light-blue add-file__btn">
                        <i class="btn__icon icon icon--file-add"></i>
                        <span class="btn__text">Выбрать</span>
                    </button>
                </div>
                <div class="add-file__list">
                    <div class="add-file__clear">Очистить список</div>
                </div>
            </div><!-- add file -->

        </div><!-- modal content -->

        <div class="modal__footer">
            <button class="modal__footer__btn btn btn--style--blue close-modal">Сохранить</button>
            <button class="modal__footer__btn btn btn--style--outline-blue close-modal">Отмена</button>
        </div><!-- modal footer -->

    </div><!-- modal body -->

</div>