<div class="modal close-modal" id="modal-confirm">

    <div class="modal__body modal__body--size--sm">

        <div class="modal__header">
            <h3 class="modal__header-title">Подтвердить удаление</h3>
            <button class="modal__header-close">
                <i class="icon icon--cancel-1 close-modal"></i>
                <span>Закрыть</span>
            </button>
        </div><!-- modal header -->

        <div class="modal__content">
            <p>
                Вы уверены, что хотите удалить данное фото?
            </p>
        </div><!-- modal content -->

        <div class="modal__footer">
            <button class="modal__footer__btn btn btn--style--blue close-modal">Удалить</button>
            <button class="modal__footer__btn btn btn--style--outline-blue close-modal">Отмена</button>
        </div><!-- modal footer -->

    </div><!-- modal body -->

</div>