<ul class="news-list">
    <li class="news-list__item">
        <div class="news-list__date">30.06.2021 14:54</div>
        <a class="news-list__link" href="#">Мы продолжаем акцию с Укрпочтой до конца лета!</a>
    </li>
    <li class="news-list__item">
        <div class="news-list__date">01.06.2021 10:36</div>
        <a class="news-list__link" href="#">Бесплатная доставка с Укрпочта</a>
    </li>
    <li class="news-list__item">
        <div class="news-list__date">13.05.2021 11:24</div>
        <a class="news-list__link" href="#">Бесплатная доставка с Justin</a>
    </li>
    <li class="news-list__item">
        <div class="news-list__date">29.04.2021 14:15</div>
        <a class="news-list__link" href="#">Качественный сервис: современные правила общения с покупателями</a>
    </li>
</ul>