<div class="rating-graph">

    <div class="rating-graph__item">
        <div class="rating-graph__pre">Общий рейтинг</div>
        <div class="rating-graph__body">
            <div class="rating-graph__value">4.42</div>
            <div class="rating-graph__post">из 5</div>
        </div>
    </div><!--rating graph item-->

    <div class="rating-graph__item">
        <div class="rating-graph__pre">Процент жалоб</div>
        <div class="rating-graph__body">
            <div class="rating-graph__value">1%</div>
            <div class="rating-graph__post">процент</div>
        </div>
    </div><!--rating graph item-->

    <div class="rating-graph__item">
        <div class="rating-graph__pre">Скорость доставки</div>
        <div class="rating-graph__body">
            <div class="rating-graph__value">3</div>
            <div class="rating-graph__post">дня</div>
        </div>
    </div><!--rating graph item-->

</div><!--rating graph-->