<aside class="main__sidebar sidebar">

    <button class="sidebar__close">
        <i class="icon--cancel"></i>
    </button>

    <nav class="sidebar__nav">

        <ul class="sidebar__nav-list accordion">

            <li class="sidebar__nav-item">

                <div class="sidebar__nav-title selected">
                    <span class="sidebar__nav-title-text">Панель управления</span>
                    <i class="sidebar__nav-title-icon sidebar__nav-title-icon--larger icon--layout-grid"></i>
                </div>

            </li><!--sidebar nav item-->

            <li class="sidebar__nav-item accordion-item">

                <div class="sidebar__nav-title accordion__toggle">
                    <span class="sidebar__nav-title-text">Ремонт</span>
                    <i class="sidebar__nav-title-icon icon--arrow-angle-down"></i>
                </div>

                <ul class="sidebar__nav-sub-list accordion__sub">
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Подкатегория 1</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Подкатегория 2</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Подкатегория 3</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Подкатегория 4</a>
                    </li>
                </ul><!--sidebar nav sub list-->

            </li><!--sidebar nav item-->

            <li class="sidebar__nav-item">
                <a class="sidebar__nav-title" href="#">Товары</a>
            </li><!--sidebar nav item-->

            <li class="sidebar__nav-item accordion-item">

                <div class="sidebar__nav-title accordion__toggle accordion__toggle--active">
                    <span class="sidebar__nav-title-text">Заказы</span>
                    <i class="sidebar__nav-title-icon icon--arrow-angle-down"></i>
                </div>

                <ul class="sidebar__nav-sub-list accordion__sub accordion__sub--active">
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Список товаров</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Товары в резерве</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">SO CRM Lenovo</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Список счетов</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Задолженности</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Возвраты ЗЧ</a>
                    </li>
                    <li class="sidebar__nav-sub-item">
                        <a class="sidebar__nav-sub-title" href="#">Возврат товаров</a>
                    </li>
                </ul><!--sidebar nav sub list-->

            </li><!--sidebar nav item-->

            <li class="sidebar__nav-item">
                <a class="sidebar__nav-title" href="#">Сверка</a>
            </li><!--sidebar nav item-->

        </ul><!--sidebar nav list-->

    </nav><!--sidebar nav-->

</aside><!--sidebar-->